{% extends "events_base.html" %}
{% load static %}
{% block content %}
<div class="container">

    <div class="route-navigator" >
            <ol class="breadcrumb">
                <li><a href="{% url 'events_home' %}">Inicio</a></li>
                <li><a href="{% url 'event_list' %}">Eventos</a></li>
                <li class="active"><a href="{% url 'event_detail' pk=event.pk %}">{{event.name}}</a></li>
            </ol>
    </div>

    <div class="row event-detail">
        <div class="col-md-6">
            <h3>Detalle del evento </h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Nombre</th>
                        <td>{{ event.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo</th>
                        <td>{{ event.get_category_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Comision</th>
                        <td>{{ event.commission }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha</th>
                        <td>{{ event.start_date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Lugar</th>
                        <td>{{ event.place }}</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary btn-block text-uppercase" href="{% url 'event_change' event.pk %}">Editar</a>
        </div>
        <div class="col-md-6">
            {% if perms.events.view_organizers %}
                <h3>Organizadores <span class="badge badge-light">{{organizers.count}}</span></h3>
                {% if organizers %}
                    <ul>
                        {% for organizer in organizers %}
                            <li>{{organizer.user.username}} ({{organizer.first_name}}-{{organizer.last_name}})</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        No hay organizadores asociados al evento!
                    </div>
                     
                {% endif %}
                {% if perms.events.add_eventorganizer %}
                    <a class="btn btn-primary btn-block text-uppercase" href="{% url 'admin:events_event_change' event.pk %}">Agregar Organizadores</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row sponsors-categories">
            <div class="col-md-12">
                <h3>Categorias de Sponsors</h3>
            </div>
            <div class="row">
            {% for sponsor_category in event.sponsors_categories.all %}
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <div class="card-header">
                            <h3 class="text-center text-camelcase">{{ sponsor_category.name }}</h3>
                        </div>
                        <div class="card-body">
                            <h2 class="text-center">${{ sponsor_category.amount }}</h2>
                            {% if forloop.counter|divisibleby:2 %}
                            <p>No se han registrado sponsors asociados a esta categoria</p>
                            {% else %}
                            <p>Se han registrado un total de {{ sponsor_category.sponsors.count }} sponsors, para esta categoría</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div><div class="row">
                {% endif %}
                
            {% endfor %}
                {% if perms.events.add_sponsorcategory %}
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <div class="card-header">
                            <h3 class="text-center text-camelcase">Agregar</h3>
                        </div>
                        <div class="card-body">
                            <div class="single-action">
                                    <img src="{% static 'images/add.png' %}" onclick="return open_modal('{% url 'event_create_sponsor_category' event.pk %}')" alt="Agregar">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
    </div>   
</div>
<div id="popup" class="modal fade" role="dialog">
</div>       
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/modal_form.js' %}"></script>
{% endblock %}