{% extends "events_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="route-navigator" >
            <ol class="breadcrumb">
                <li><a href="{% url 'events_home' %}">Inicio</a></li>
                <li><a href="{% url 'event_list' %}">Eventos</a></li>
                <li><a href="{% url 'event_detail' pk=event.pk %}">{{event.name}}</a></li>
                <li class="active"><a href="{% url 'event_change' pk=event.pk %}">Edición</a></li>
            </ol>
    </div>
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
        <a class="btn btn-default" href="{% url 'event_detail' event.pk %}">Volver</a>
        <input type="submit" class="btn btn-success" value="Actualizar!">
        
    </form>
    </div>
       
</div>       
{% endblock %}