{% extends "events_base_paginated_list.html" %}

{% block route-navigator %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><i class="fas fa-home"></i><a href="{% url 'events_home' %}"> Inicio</a></li>
      <li class="breadcrumb-item" aria-current="page"><i class="fas fa-calendar-alt"></i> Eventos</li>
    </ol>
</nav>
{% endblock %}

{% block list_title %}
<h1>Eventos</h1>
{%endblock%}    

{% block list_content %}
<div class="row events-list">
    <div class="col-md-12">
        <table class="table table-striped row-clickeable-table text-center">
            <thead>
                <tr>
                    <th scope="row" class="text-left">Nombre</th>
                    <th scope="row">Tipo</th>
                    <th scope="row">Comisión</th>
                    <th scope="row">Fecha</th>
                    <th scope="row">Lugar</th>
                    <th scope="row">Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for event in event_list %}
            
                <tr>
                    <td class="text-left">{{ event.name }}</td>
                    <td>{{ event.get_category_display }}</td>
                    <td>{{ event.commission }}%</td>
                    <td>{% if event.start_date %}{{ event.start_date }}{% endif %}</td>
                    <td>{{ event.place }}</td>
                    <td>
                        
                        <span>
                            <i class="fa fa-cog"></i> 
                            <a title="editar evento" href="{% url 'event_detail' pk=event.pk %}">
                                General
                            </a>
                        </span>
                        |
                        <span><i class="fas fa-handshake"></i><a title="administrar evento" href="{% url 'sponsoring_list' event_pk=event.pk %}">
                            Sponsoreos
                        </a>
                        </span>
                        |
                        <span><i class="fas fa-dollar-sign"></i> <a title="administrar evento" href="{% url 'expenses_list' event_pk=event.pk %}">
                            Gastos
                        </span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="empty-list">
                        <strong>No hay eventos asociados a su usuario.</strong>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row organizers-list-actions">
    <div class="col-md-12 text-right">
        {% if perms.events.add_event %}
        <a class="btn btn-primary col-2 float-right mx-1" href="{% url 'admin:events_event_add' %}" target="_blank"><i class="fas fa-certificate"></i> Crear</a>
        {% endif %}
        <a class="btn btn-danger col-2 float-right mx-1" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-undo"></i> Volver</a>
    </div>
</div>
    
{% endblock %}