{% extends "events_base.html" %}
{% load static %}
{% block content %}
<div class="container">

    <div class="route-navigator" >
            <ol class="breadcrumb">
                <li><a href="{% url 'events_home' %}">Inicio</a></li>
                <li><a href="{% url 'event_list' %}">Eventos</a></li>
                <li><a href="{% url 'event_detail' pk=event.pk %}">{{event.name}}</a></li>
                <li><a href="{% url 'sponsoring_list' event_pk=event.pk%}">Patrocinios</a></li>
                <li class="active"><a href="{% url 'sponsoring_detail' pk=sponsoring.pk%}">
                        {{sponsoring.sponsor.organization_name}} ({{sponsoring.sponsorcategory.name}})
                </a></li>
            </ol>
    </div>
    <h2>Patrocinio {{sponsoring.sponsorcategory.name}} ({{sponsoring.state}})</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSponsoringData">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSponsoringData" aria-expanded="true" aria-controls="collapseSponsoringData">
                Datos del evento y del patrocinador
                </a>
            </h4>
            </div>
            <div id="collapseSponsoringData" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSponsoringData">
                <div class="panel-body">
                    <div class="row sponsoring-detail">
                        <div class="col-md-6">
                            <h4>Datos Evento</h4>
                            {% include "events/event_describe_table.html" with event=event %}
                        </div>
                        <div class="col-md-6">
                            <h4>Datos Patrocinador </h4>
                            {% include "sponsors/sponsor_describe_table.html" with sponsor=sponsoring.sponsor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>

    

    <div class="row">
        {% if sponsoring.invoice %}
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Factura</h4>
                    <strong>Monto:</strong> ${{sponsoring.invoice.amount}}<br/>
                    <strong>Documento:</strong> <a href="{{sponsoring.invoice.document.url}}" target="_blank"> descargar <i class="fa fa-download"></i></a>
                    
                </div>    
            </div>
            
            <div class="row">
                {% if sponsoring.invoice.extension == ".pdf" %}
                <div id="invoice-pdf-div" class="col-md-12 text-left" invoice-url={{sponsoring.invoice.document.url}}>   
                    <canvas id="pdf-canvas"></canvas> 
                </div>
                {% elif sponsoring.invoice.is_image_document %}
                <div class="col-md-12">
                    <img src="{{sponsoring.invoice.document.url}}" style="width: 400px;">
                </div>
                {% else %}
                <div class="col-md-12">
                    <img src="{% static 'images/not_document.svg' %}" style="width: 400px;">
                </div>
                {% endif %}
            </div>

            <div class="row text-right">
                <div class="col-md-12">
                {% if sponsoring.state == "facturado" and perms.events.set_invoice_approved %}
                    <form action="{% url 'invoice_set_approved' sponsoring.invoice.pk %}" method="post">
                        {% csrf_token %}
                        <span class="text-right">
                            <input type="submit" class="btn btn-success" value="Aprobar Factura"/>
                        </span>
                    </form>
                {% endif %}
                {% if sponsoring.state == "pendiente de pago" and perms.events.set_invoice_complete_payment %}
                    <form method="post">
                        {% csrf_token %}
                        <span class="text-right">
                            <input type="submit" class="btn btn-success" value="Pago completo" formaction="{% url 'invoice_set_complete_payment' sponsoring.invoice.pk %}"/>
                            <input type="submit" class="btn btn-success" value="Pago parcial" formaction="{% url 'invoice_set_partial_payment' sponsoring.invoice.pk %}"/>
                        </span>
                    </form>
                {% endif %}
                {% if sponsoring.state == "pago parcial" and perms.events.set_invoice_complete_payment %}
                    <form method="post">
                        {% csrf_token %}
                        <span class="text-right">
                            <input type="submit" class="btn btn-success" value="Pago completo" formaction="{% url 'invoice_set_complete_payment' sponsoring.invoice.pk %}"/>
                        </span>
                    </form>
                {% endif %}
                </div>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <h4>Afectaciones</h4> 
                </div> 
                {% if not sponsoring.close and sponsoring.invoice.invoice_ok and perms.events.add_invoiceaffect %}
                <div class="col-md-7 text-left" style="padding: 10px">
                    <a class="btn btn-primary" onclick="return open_modal('{% url 'sponsoring_invoice_affect_create' sponsoring.invoice.pk %}')"><i class="fa fa-plus"> Agregar</i></a>
                </div>
                {% elif not sponsoring.invoice.invoice_ok %}

                <div class="col-md-7 text-left" style="padding: 10px">
                    <div class="alert alert-info" role="alert">
                                Necesita aprobar la factura, para agregar afectaciones.
                    </div>
                    
                </div>
                {% endif %}
            </div>
            {% for affect in sponsoring.invoice.invoice_affects.all %}
                <div class="row">
                    {% if affect.extension == ".pdf" %}
                    <div class="col-md-5 pdf-affect" affect-url={{affect.document.url}}>
                        <canvas></canvas>
                    </div>
                    {% elif affect.is_image_document %}
                    <div class="col-md-5 img-affect" affect-url={{affect.document.url}}>
                            <img src="{{affect.document.url}}" style="width: 200px;">
                    </div>
                    {% else %}
                    <div class="col-md-5" affect-url={{affect.document.url}}>
                        <img src="{% static 'images/not_document.svg' %}" style="width: 200px;">
                    </div>
                    {% endif %}
                    <div class="col-md-7 affect-description align-middle">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Tipo</th>
                                    <td>{{ affect.get_category_display }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Monto</th>
                                    <td>{{ affect.amount }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Observaciones</th>
                                    <td>{{ affect.observations }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Documento</th>
                                    <td><a href="{{affect.document.url}}" target="_blank"> descargar <i class="fa fa-download"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                </div>
            {% empty %}
                <div class="alert alert-info" role="alert">
                    No se cargaron afectaciones a la factura actual.
                </div>
            {% endfor %}
        </div>
        {% else %}

        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                Patrocinio sin datos de facturación
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row">
            <div class="col-md-12 text-right">
                {% if sponsoring.close %}
                <a class="btn btn-disabled btn-block text-uppercase" href="#"><i class="fa fa-expeditedssl"></i> Cerrado</a>
                {% else %}
                    
                   
                    
                    
                        {% if perms.events.close_sponsoring %}
                        
                        <a class="btn btn-primary"
                            onclick="return open_confirm_dialog()"
                                >Cerrar patrocinio</a>
                        {% endif %}
                        {% if sponsoring.state == "no facturado" and perms.events.add_invoice %}
                            <a class="btn btn-success"
                            onclick="return open_modal('{% url 'sponsoring_invoice_create' sponsoring.pk %}')"
                                >Facturar</a>
                        {% endif %}
                        
                    
                    
                {% endif%}
            </div>
        </div>


</div>
<div id="popup" class="modal fade" role="dialog">
</div>
<div id="pdf-dialog" class="modal fade" role="dialog">
    <canvas id="canvas-dialog"></canvas>
</div>
<div id="img-dialog" class="modal fade" role="dialog">
        <img id="img-dialog">
</div>

<div id="confirm-dialog" class="modal fade" role="dialog">
    {% include "events/sponsoring_close_modal_confirm.html" %}
</div>       
{% endblock %}

{% block extra_js %}
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="{% static 'js/modal_form.js' %}"></script>
    <script src="{% static 'js/load_pdf_files.js' %}"></script>
{% endblock %}