[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.4"
django-extensions = "==2.0.7"
pillow = "*"
python-dotenv = "*"
mercadopago = "*"
"psycopg2-binary" = "*"
google-api-python-client = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
