{% extends "events_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="route-navigator" >
            <ol class="breadcrumb">
                <li><a href="{% url 'events_home' %}">Inicio</a></li>
                {% if perms.events.view_organizers %}
                <li><a href="{% url 'organizer_list' %}">Organizadores</a></li>
                {% endif %}
                <li><a href="{% url 'organizer_detail' pk=organizer.pk %}">{{organizer.user.username}}</a></li>
                <li class="active"><a href="#">Cuenta</a></li>
            </ol>
    </div>
    <form role="form" action="{% url 'organizer_create_bank_account_data' organizer.pk %}" method="post">
        {% csrf_token %}
        {% crispy form %}
        <a class="btn btn-default" href="{% url 'organizer_detail' organizer.pk %}">Volver</a>
        {% if organizer.account_data %}
        <input type="submit" class="btn btn-success" value="Actualizar">
        {% else %}
        <input type="submit" class="btn btn-success" value="Crear">
        {% endif %}
    </form>
    </div>
</div>       
{% endblock %}