{% extends "events_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="route-navigator" >
            <ol class="breadcrumb">
                <li><a href="{% url 'events_home' %}">Inicio</a></li>
                {% if perms.events.add_organizers %}
                <li><a href="{% url 'organizer_list' %}">Organizadores</a></li>
                {% endif %}
                <li><a href="{% url 'organizer_detail' pk=organizer.pk %}">{{organizer.user.username}}</a></li>
                <li class="active"><a href="{% url 'organizer_change' pk=organizer.pk %}">Edición</a></li>
            </ol>
    </div>
    
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
        <a class="btn btn-default" href="{% url 'organizer_detail' organizer.pk %}">Volver</a>
        <input type="submit" class="btn btn-success" value="Actualizar!">
    </form>
    </div>
       
</div>       
{% endblock %}