{% extends "events_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% block route-navigator %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><i class="fas fa-home"></i><a href="{% url 'events_home' %}"> Inicio</a></li>
          <li class="breadcrumb-item"><i class="fas fa-user-friends"></i><a href="{% url 'organizer_list' %}"> Organizadores</a></li>
          <li class="breadcrumb-item"><i class="fas fa-user"></i><a href="{% url 'organizer_change' organizer.pk %}"> {{organizer.user.username}}</a></li>
          <li class="breadcrumb-item" aria-current="page"><i class="fas fa-edit"></i> Editar</li>
        </ol>
    </nav>
    {% endblock %}
    
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-success col-2 float-right mx-1"><i class="fas fa-save"></i> Cambiar</button>
        <a class="btn btn-danger col-2 float-right mx-1" href="{% url 'organizer_detail' organizer.pk %}"><i class="fas fa-undo"></i> Volver</a>
    </form>
       
</div>       
{% endblock %}