{% extends "events_base_paginated_list.html" %}

{% block route-navigator %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><i class="fas fa-home"></i><a href="{% url 'events_home' %}"> Inicio</a></li>
      <li class="breadcrumb-item" aria-current="page"><i class="fas fa-handshake"></i> Sponsors</li>
    </ol>
</nav>
{% endblock %}

{% block list_title %}
<h1>Sponsors</h1>
{%endblock%}

{% block list_content %}
    <div class="row sponsors-list">
        <div class="col-md-12">
            <table class="table table-striped row-clickeable-table">
                <thead>
                    <tr>
                        <th scope="row">Razón social</th>
                        <th scope="row">CUIT</th>
                        <th scope="row">Estado</th>
                    </tr>
                </thead>
                <tbody>
                {% for sponsor in sponsor_list %}
                
                    <tr onclick="window.location='{% url 'sponsor_detail' pk=sponsor.pk %}';" class="clikeable">
                        
                        <td >{{ sponsor.organization_name }}</td>
                        <td>{{ sponsor.document_number }}</td>
                        <td>
                            {% if sponsor.enabled %}
                            <span class="text-success"><strong>Habilitado</strong></span>
                            {% else %}
                            <span class="text-danger"><strong>Sin habilitar</strong></span>
                            {% endif %}
                            
                        </td>
                    </tr>
                
                {% empty %}
                    <tr>
                        <td colspan="100%" class="empty-list">
                            <strong>No hay patrocinadores activos.</strong>
                        </td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
    <div class="row sponsors-list-actions">
        <div class="col-md-12 text-right">
            {% if perms.events.add_sponsor %}
            <a class="btn btn-primary col-2 float-right mx-1" href="{% url 'sponsor_create' %}"><i class="fas fa-certificate"></i> Crear</a>
            {% endif %}
            <a class="btn btn-danger col-2 float-right mx-1" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-undo"></i> Volver</a>
        </div>
    </div>
    


{% endblock %}