/*

Boxer Template

http://www.templatemo.com/tm-446-boxer

*/

body
    {
        background: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

.tm-white a {
	color: #fff;
	text-decoration: underline;
}

/* start h1 group */
h1 {
    margin-top: 0;
    margin-bottom: 35px;
}
h1,
h2,
h3,
h4
    {
        font-weight: bold;
        margin-bottom: 25px;
    }
/* end h1 group */
p { line-height: 1.6em; }
/* img */
img
    {
        max-width: 100%;
        height: auto;
    }
/* img */

/* overlay */
.overlay
    {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.4);
       padding-top: 90px;
       padding-bottom: 90px;
    }
/* over lay */

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* end page container */

/* categories */
.categories {
    padding-bottom: 40px;
}
.categories .panel{
    min-height: 155px;
}

/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        /*justify-content: center;*/
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-rotating-plane.sk-spinner
    {
         width: 30px;
        height: 30px;
        background-color: #28a7e9;
         margin: 0 auto;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* start navigation */
.navbar-default
    {
        background: #fff;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0!important;
    }
.navbar-default .navbar-brand
    {
        color: #28a7e9;
        font-size: 30px;
        font-weight: bold;
        height: 70px;
        line-height: 35px;
    }
.navbar-default .nav li a
    {
        color: #666;
        font-size: 13px;
        font-weight: bold;
        height: 70px;
        line-height: 40px;
    }
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: #28a7e9;
    }

.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 20px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #28a7e9;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

#content {
    margin-top: 75px;
    padding: 10px 0;

}
/* start home */
#home
    {
    background: url('../images/1.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: 70px;
    text-align: center;
    width: 100%;
    }
#home p
    {
        font-weight: 400;
        font-style: italic;
        line-height: 2em;
    }
#home img
    {
        display: inline-block;
        margin-top: 30px;
    }
/* end home */

/* start divider */
#divider
    {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#divider .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#divider h3
    {
        font-size: 20px;
    }
/* end divider */

/* start divider */
#comision_directiva
    {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#comision_directiva .fa
    {
        color: #28a7e9;
        font-size: 60px;
    }
#comision_directiva h3
    {
        font-size: 20px;
    }
/* end divider */


/* start feature */
#feature
    {
        background: #f8f8f8;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#feature p
    {
        padding-top: 10px;
    }
#feature .fa
    {
        background: #28a7e9;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }
/* end feature */

/* start feature1 */
#feature1
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
#feature1 p
    {
        padding-top: 10px;
    }
#feature1 .fa
    {
        background: #28a7e9;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }
/* end feature1 */

/* start pricing */
#asociate
    {
        background: #f8f8f8;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#asociate h2
    {
        padding-bottom: 60px;
    }
#asociate .pricing
    {
        background: #fff;
    }
#asociate .active
    {
        position: relative;
        bottom: 20px;
    }
#asociate .pricing .pricing-title
    {
        background: #28a7e9;
        color: #fff;
        font-weight: bold;
        padding: 30px;
    }
#asociate .pricing .pricing-title p
    {
        font-size: 20px;
    }
#asociate .pricing ul
    {
        padding: 0;
        margin: 0;
    }
#asociate .pricing ul li
    {
        display: block;
        list-style: none;
        padding: 16px;
    }
#asociate .pricing .btn
    {
        background: transparent;
        border: 1px solid #28a7e9;
        border-radius: 0px;
        color: #28a7e9;
        font-weight: bold;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
    }
#asociate .pricing .btn:hover {
    background: #28a7e9;
    color: #fff;
}
/* end pricing */

/* start download */
#estatuto
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }
#estatuto h2
    {
        padding-bottom: 20px;
    }
#estatuto .btn
    {
        border-radius: 0px;
        font-weight: bold;
        margin-top: 20px;
        padding: 10px 40px 10px 40px;
    }
/* end download */

/* start download */
#beneficios
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }
#beneficios h2
    {
        padding-bottom: 20px;
    }
#beneficios .btn
    {
        border-radius: 0px;
        font-weight: bold;
        margin-top: 20px;
        padding: 10px 40px 10px 40px;
    }
#beneficios .fa
    {
        background: #28a7e9;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }

/* end download */

/* start contact */
#contacto
    {
        background: url('../images/3894993527_020a6b394b_b.jpg') no-repeat;
        background-size: cover;
        color: #fff;
    }
#contacto h2
    {
        padding-bottom: 10px;
    }
#contacto address
    {
        padding-top: 20px;
    }
#contacto address .fa
    {
        background: #28a7e9;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 6px;
        margin-right: 10px;
    }
#contacto .contact-form
    {
        padding-top: 40px;
    }
#contacto .form-control
    {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 20px;
    }
#contacto input
    {
        height: 50px;
    }
#contacto input[type="submit"]
    {
        background: #28a7e9;
        color: #fff;
        font-weight: bold;
        transition: all 0.3s ease;
    }
#contacto input[type="submit"]:hover {
    background: #107DB6;
}
/* end contact */

/* start footer */
footer
    {
        background:rgb(66, 133, 244);
        font-weight: 400;
        text-align: center;
        padding: 20px;
    }
/* end footer */

/* Grilla de la Comisi칩n directiva */

#comision_directiva .cargos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
#comision_directiva .img-responsive {
  float: left;
  max-width: 50%;
  margin: auto;
}

/* fin de grilla de comisi칩n, aunque hay algo m치s mezclado en los media */

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #asociate .active {
        bottom: 0;
    }
    .asociate {
        margin-bottom: 20px;
    }
    #feature img, #estatuto img {
        margin-top: 30px;
    }
    #feature1 img {
        margin-bottom: 30px;
    }
    #comision_directiva .img-responsive {
      float: left;
      max-width: 50%;
      margin: auto;
    }
    #comision_directiva h3 {
      font-size: 1em;
    }
}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #feature, #asociate, #estatuto {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #contact .overlay {
        padding-top: 40px;
    }
    #comision_directiva .img-responsive {
      float: none;
      max-width: 50%;
      margin: auto;
    }
    #comision_directiva .cargos {
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    #comision_directiva h3 {
      font-size: 1.2em;
    }
}
/* start media 360 */
@media screen and ( max-width: 360px ){
    .asociate
        {
            padding-bottom: 40px;
        }
        #comision_directiva .cargos {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 5px;
        }
        #comision_directiva img {
          max-width: 150px;
          margin: auto;
        }
        #comision_directiva h3 {
          font-size: 1em;
        }
        #comision_directiva .img-responsive {
          float: none;
          max-width: 75%;
        }
}
/* end media 360 */

/* conversi칩n de <p> a <ul> */

ul.fa-ul {
  margin: 0 0 20px 0;
}

ul.fa-ul li {
  padding: 12px 0 0 20px;
  margin: 0 0 20px 20px;
}

#feature ul.fa-ul li {
  margin: 0 0 20px 20px;
  padding: 12px 0 0 20px;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form .asteriskField {
    display: none;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}

.navbar-right .pyar.dropdown-menu {
    left: 0;
}

 /* Customize Detailed Members Table  */
 .shutdown {
    background: red !important;
    color: lightgray;
    font-weight: bold;
}

.table tr {
    cursor: pointer;
}
.hiddenRow {
    padding: 0 4px !important;
    font-size: 13px;
}
.details-row {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 10px;
}

.debtor {
    background: crimson;
    color: lightgray;
    font-weight: bold;
}

.details-title {
    text-align: center;
    font-weight: bold;
}

.col {
    flex: 4;
}

.col-centered {
    text-align: center;
}

.member-detail table th {
    text-align: right;
}