certg
django-configurations
django-crispy-forms
django-extensions
django-reversion-compare
django-storages[azure]
django<3
google-api-python-client-py3
gunicorn
mercadopago
oauth2client
Pillow
psycopg2_binary
python-stdnum
rapidtables
sentry-sdk
