{% autoescape off %}
Se ha creado una cuenta con usuario: "{{ user.get_username }}", asociada a esta dirección de correo, dentro del sistema de PyAr Eventos. 
Es necesario que registre sus claves de acceso para poder ingresar futuramente al sistema haciendo click en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no puede acceder cliqueando en el anterior enlace, intente copiar la URL y pegarla en alguna ventana del navegador web.

{% endautoescape %}