{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  {% if validlink %}
    <h3>Cambio de contraseña</h3>
    <form method="POST" novalidate  enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy form %}
      <input type="submit" class="btn btn-success" value="Cambiar contraseña" />
    
    </form>
  {% else %}
    <p>
      El link para resetear el password es inválido. Posiblemente fue recientemente 
      utilizado. En caso de ser necesario, proceda a requerir un nuevo 
      <a href="{% url 'password_reset' %}">reseteo de contraseña</a>.
    </p>
  {% endif %}
</div>
{% endblock %}