.empty-list{
    text-align: center;
}

.events-form-control .btn {
    min-height: 38px;
    border-radius: 2px;
}
/*.btn {        
    font-size: 15px;
    font-weight: bold;
}*/

.dashborard-element-actions {
    text-align: right;
}
.dashboard_options .caption {
    padding-left: 2px;
    padding-right: 2px;
}

.dashboard_options .thumbnail {
    border: 0px;
}

.route-navigator {
    margin-bottom: 10px;
}

.events-details-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-clickeable-table .clikeable {
    cursor: pointer;
}
.card-btn {
    width: 100%;
    margin-top: 20px;
}

.sponsors-categories .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.sponsors-categories .card-body {
    margin-top: 20px;
}

.sponsors-categories .card-body h2 {
    font-size: 25px;
}

.sponsors-categories .card-body .single-action {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.sponsors-categories .card-body .single-action img {
    cursor: pointer;
}


.sponsors-categories .card-header h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    font-size: 20px;
}

.btn-disabled {
    background-color: #ff7259;
    color: black;
}

.task-description {
    font-weight: bold;
}

.task-action {
    text-align: right;
}

[data-toggle="collapse"] .fa:before {  
    content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}