{% extends "base.html" %}
{% load humanize %}

{% block route-navigator %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fas fa-users"></i> <a href="{% url 'reports_main' %}">Socios</a></li>
        <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-money-check"></i> Ingreso de Cuotas</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 88%;">
        {% block heading %}
        <h1 class="text-center">Reportes</h1>
        <h2 class="text-center">Ingresos, cuotas</h2>
        {% endblock %}
        <div class="inner-content">
            {% block inner-content %}
                <div>
                <table class="table">
                <tr> 
                    <th>Año mes</th>
                    {% for categ in categories %}
                        <th colspan="2">{{ categ }} total/pagos</th>
                    {% endfor %}
                    <th>$$$ teórico total</th>
                    <th>$$$ pago real</th>
                    <th>$ %</th>
                </tr>
                {% for info in info_per_month %}
                    <tr> 
                        <td>{{ info.year }}-{{ info.month|stringformat:"02d" }}</td>
                        {% for member in info.members_info %}
                            <td>{{ member.total }}</td>
                            <td>{{ member.paid }}</td>
                        {% endfor %}
                        <td>{{ info.total|intcomma }}</td>
                        <td>{{ info.real|intcomma }}</td>
                        <td>{% widthratio info.real info.total 100 %}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endblock %}
        </div>
    </div>

{% endblock %}
