{% extends "base.html" %}
{% load humanize %}

{% block route-navigator %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fas fa-users"></i> <a href="{% url 'reports_main' %}">Socios</a></li>
        <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-wallet"></i> Ingreso de Dinero</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 88%;">
        {% block heading %}
        <h1 class="text-center">Reportes</h1>
        <h2 class="text-center">Ingresos, dinero</h2>
        {% endblock %}
        <div class="inner-content">
            {% block inner-content %}
                <div>
                <table class="table">
                <tr> 
                    <th>Año mes</th>
                    <th>Monto</th>
                </tr>
                {% for info in info_per_month %}
                    <tr> 
                        <td>{{ info.year }}-{{ info.month|stringformat:"02d" }}</td>
                        <td>{% if info.amount != '-' %}$ {{ info.amount|floatformat:2|intcomma }}{% else %}{{ info.amount }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </table>
            {% endblock %}
        </div>
    </div>

{% endblock %}
