{% extends "members/signup_initial.html" %}
{% load crispy_forms_tags %}
{% block inner-content %}
<div class="categories">
    <h2>Su solicitud fue enviada con éxito</h2>
    <p>
        Te acabamos de enviar un correo electrónico con la info para continuar 
        con el trámite de afiliación a la asociación civil Python Argentina.
    </p>
    <p>
        Cualquier duda avisanos. ¡Muchas gracias!
    </p>
    <p>
        <a class="btn btn-primary" href="https://ac.python.org.ar">Ir a la página de la asociación</a>
    </p>
</div>
{% endblock %}
