{% extends "events_base_paginated_list.html" %}

{% block route-navigator %}
<div class="route-navigator" >
        <ol class="breadcrumb">
            <li><a href="{% url 'events_home' %}">Inicio</a></li>
            <li><a href="{% url 'event_list' %}">Eventos</a></li>
            <li><a href="{% url 'event_detail' pk=event.pk %}">{{event.name}}</a></li>
            <li class="active"><a href="{% url 'expenses_list' event_pk=event.pk%}">Gastos</a></li>
        </ol>
</div>
{% endblock %}

{% block list_title %}
<h1>Gastos</h1><h3>{{event}}</h3>

{%endblock%}

{% block list_content %}
    <div class="row expenses-list">
        <div class="col-md-12">
            <table class="table table-striped row-clickeable-table">
                <thead>
                    <tr>
                        <th scope="row">Tipo</th>
                        <th scope="row">Origen</th>
                        <th scope="row">Monto</th>
                        <th scope="row">Descripcion</th>
                        <th class="text-center" scope="row">Pagado</th>
                    </tr>
                </thead>
                <tbody>
                {% for expense in expenses_list %}
                
                    {% if expense.category == "Prv" %}
                    <tr onclick="window.location='{% url 'provider_expense_detail' pk=expense.pk %}';" class="clikeable">
                    {% else %}
                    <tr onclick="window.location='{% url 'organizer_refund_detail' pk=expense.pk %}';" class="clikeable">
                    {% endif %}
                        
                    {% if expense.is_cancelled %}
                        <td class="text-danger">{{ expense.get_category_display }} (Cancelado)</td>
                    {% else %}
                        <td class="text-success">{{ expense.get_category_display }}</td>
                    {% endif %}
                    
                        <td>
                        {% if expense.category == "Prv"%}
                            {{ expense.origin.organization_name }}
                        {% else %}
                            {{ expense.origin.user.username }}
                        {% endif %}
                        </td>
                        
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.description }}</td>
                        <td class="text-center">
                            <span>
                            {% if expense.is_cancelled %}
                                <i class="fa fa-ban text-danger"></i>
                            {% elif expense.payment %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %}
                            </span>
                        </td>
                    </tr>
                
                {% empty %}
                    <tr>
                        <td colspan="100%" class="empty-list">
                            <strong>No hay gastos cargados.</strong>
                        </td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
    <div class="row sponsors-list-actions">
        <div class="col-md-12 text-right">
            {% if perms.events.add_providerexpense %}
            <a class="btn btn-primary" href="{% url 'provider_expense_create' event_pk=event.pk %}"><i class="fa fa-plus"></i> Pago Proveedor</a>
            {% endif %}
            {% if perms.events.add_organizerrefund %}
            <a class="btn btn-primary" href="{% url 'organizer_refund_create' event_pk=event.pk %}"><i class="fa fa-plus"></i> Reintegro</a>
            {% endif %}
        </div>
    </div>

{% endblock %}