{% extends "events_base_paginated_list.html" %}
{% load humanize %}
{% block route-navigator %}
<nav aria-label="breadcrumb" class="events-details-nav">
    <div>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fas fa-home"></i><a href="{% url 'events_home' %}"> Inicio</a></li>
        <li class="breadcrumb-item"><i class="fas fa-calendar-alt"></i><a href="{% url 'event_list' %}"> Eventos</a></li>
        <li class="breadcrumb-item"><i class="fas fa-calendar-check"></i><a href="{% url 'event_detail' pk=event.pk %}"> {{event.name}}</a></li>
        <li class="breadcrumb-item" aria-current="page"><i class="fas fa-hand-holding-usd"></i> Gastos</li>
        </ol>
    </div>
    <div>
        Ir a:  
        <i class="fa fa-cog"></i> 
        <a title="editar evento" href="{% url 'event_detail' pk=event.pk %}">
            General
        </a>
        |
        <i class="fas fa-handshake"></i><a title="administrar evento" href="{% url 'sponsoring_list' event_pk=event.pk %}">
            Sponsoreos
        </a>
    </div>
</nav>
{% endblock %}

{% block list_title %}
<h1>Gastos</h1><h3>{{event}}</h3>

{%endblock%}

{% block list_content %}
    <div class="row expenses-list">
        <div class="col-md-12">
            <table class="table table-striped row-clickeable-table">
                <thead>
                    <tr>
                        <th scope="row">Tipo</th>
                        <th scope="row">Origen</th>
                        <th scope="row">Monto</th>
                        <th scope="row">Descripción</th>
                        <th class="text-center" scope="row">Pagado</th>
                    </tr>
                </thead>
                <tbody>
                {% for expense in expenses_list %}
                    {% if expense.category == "Prv" %}
                    <tr onclick="window.location='{% url 'provider_expense_detail' pk=expense.pk %}';" class="clikeable">
                    {% else %}
                    <tr onclick="window.location='{% url 'organizer_refund_detail' pk=expense.pk %}';" class="clikeable">
                    {% endif %}
                    {% if expense.is_cancelled %}
                        <td class="text-danger">{{ expense.get_category_display }} (Cancelado)</td>
                    {% else %}
                        <td>{{ expense.get_category_display }}</td>
                    {% endif %}
                        <td>
                        {% if expense.category == "Prv"%}
                            {{ expense.origin.organization_name }}
                        {% else %}
                            {{ expense.origin.user.username }}
                        {% endif %}
                        </td>
                        <td>${{ expense.amount|intcomma }}</td>
                        <td>{{ expense.description }}</td>
                        <td class="text-center">
                            <span>
                            {% if expense.is_cancelled %}
                                <i class="fa fa-ban text-danger"></i>
                            {% elif expense.payment %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fa fa-times-circle text-danger"></i>
                            {% endif %}
                            </span>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%" class="empty-list">
                            <strong>No hay gastos cargados.</strong>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row sponsors-list-actions">
        <div class="col-md-12 text-right">
            {% if perms.events.add_providerexpense %}
            <a class="btn btn-primary float-right col-3 mx-1" href="{% url 'provider_expense_create' event_pk=event.pk %}"><i class="fas fa-money-bill-wave-alt"></i> Pago Proveedor</a>
            {% endif %}
            {% if perms.events.add_organizerrefund %}
            <a class="btn btn-info float-right col-3 mx-1" href="{% url 'organizer_refund_create' event_pk=event.pk %}"><i class="fas fa-wallet"></i> Reintegro</a>
            {% endif %}
            <a class="btn btn-danger col-3 float-right mx-1" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-undo"></i> Volver</a>
        </div>
    </div>

{% endblock %}