{% extends "events_base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% block route-navigator %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><i class="fas fa-home"></i><a href="{% url 'events_home' %}"> Inicio</a></li>
          <li class="breadcrumb-item"><i class="fas fa-user-friends"></i><a href="{% url 'organizer_list' %}"> Organizadores</a></li>
          <li class="breadcrumb-item"><i class="fas fa-user"></i><a href=""> {{organizer.user.username}}</a></li>
          <li class="breadcrumb-item" aria-current="page"><i class="fas fa-dollar-sign"></i> Pagar reintegros</li>
        </ol>
    </nav>
    {% endblock %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Reintegros impagos: {{organizer}}</h4>
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="row"><i class="fas fa-check"></i></th>
                    <th scope="row">Evento</th>
                    <th scope="row">Fecha</th>
                    <th scope="row">Descripcion</th>
                    <th scope="row">Comprobante</th>
                    <th scope="row">Monto</th>
                </tr>
            </thead>
            <tbody>
            {% for refund in refunds %}
                <tr>
                    <td>
                        <input type="checkbox" name="refunds" value="{{ refund.pk }}" amount="{{ refund.amount }}" />
                    </td> 
                    <td>{{refund.event}}</td>
                    <td>{{refund.invoice_date }}</td>
                    <td>{{refund.description }}</td>
                    <td>{{refund.get_invoice_type_display }}</td>
                    <td class="text-right">
                        ${{refund.amount|intcomma }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%" class="empty-list">
                        <strong>No hay reintegros impagos para el organizador</strong>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="5" class="text-right">Total seleccionado</th>
                    <td class="text-right">$0</td>
                </tr>
            </tfoot>
        </table>
        {% crispy form %}
        <button type="submit" class="btn btn-success col-3 float-right mx-1">
            <i class="fas fa-wallet"></i> Reintegro
        </button>
        {% if go_to %}
        <a class="btn btn-danger col-3 float-right mx-1" href="{{ go_to }}"><i class="fas fa-undo"></i> Volver</a>
        {% else %}
        <a class="btn btn-danger col-3 float-right mx-1" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-undo"></i> Volver</a>
        {% endif %}
    </form>
</div>
{% endblock %}