{% extends "events_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

        <div class="route-navigator" >
                <ol class="breadcrumb">
                    <li><a href="{% url 'events_home' %}">Inicio</a></li>
                    <li><a href="{% url 'event_list' %}">Eventos</a></li>
                    <li><a href="{% url 'event_detail' pk=event.pk %}">{{event.name}}</a></li>
                    <li><a href="{% url 'expenses_list' event_pk=event.pk %}">Gastos</a></li>
                    {% if form.instance.pk %}
                    <li><a href="{% url 'provider_expense_detail' pk=form.instance.pk %}">Gasto Proveedor (form.instance.pk)</a></li>
                    <li class="active"><a href="{% url 'provider_expense_create' event_pk=event.pk %}">Acturalizar (gasto proveedor)</a></li>
                    {% else %}
                    <li class="active"><a href="{% url 'provider_expense_create' event_pk=event.pk %}">Crear (gasto proveedor)</a></li>
                    {% endif %}
                </ol>
        </div>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        {% if form.instance.pk %}
        <a class="btn btn-default" href="{% url 'provider_expense_detail' pk=form.instance.pk %}">Volver</a>
        <input type="submit" class="btn btn-success" value="Actualizar!">
        {% else %}
        <a class="btn btn-default" href="{% url 'expenses_list' event_pk=event.pk %}">Volver</a>
        <input type="submit" class="btn btn-success" value="Crear">
        {% endif %}
    </form>
       
</div>       
{% endblock %}