{% extends "events_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% block route-navigator %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><i class="fas fa-home"></i><a href="{% url 'events_home' %}"> Inicio</a></li>
          <li class="breadcrumb-item"><i class="fas fa-calendar-alt"></i><a href="{% url 'event_list' %}"> Eventos</a></li>
          <li class="breadcrumb-item"><i class="fas fa-calendar-check"></i><a href="{% url 'event_detail' pk=event.pk %}"> {{event.name}}</a></li>
          <li class="breadcrumb-item"><i class="fas fa-hand-holding-usd"></i><a href="{% url 'expenses_list' event_pk=event.pk %}"> Gastos</a></li>
          <li class="breadcrumb-item" aria-current="page"><i class="fas fa-money-bill-wave-alt"></i></i> Crear</li>
        </ol>
    </nav>
    {% endblock %}
    <h3>Pago a Proveedor</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-success col-2 float-right mx-1">
            <i class="fas fa-save"></i> 
            {% if form.instance.pk %}
            Actualizar
            {% else %}
            Crear
            {% endif %}
        </button>
        <a class="btn btn-danger col-2 float-right mx-1" href="{{request.META.HTTP_REFERER}}"><i class="fas fa-undo"></i> Volver</a>
    </form>
</div>
{% endblock %}