{% extends "events_base.html" %}
{% load humanize%}
{% load static %}
{% block content %}
<div class="container">
    {% block route-navigator %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><i class="fas fa-home"></i><a href="{% url 'events_home' %}"> Inicio</a></li>
          <li class="breadcrumb-item"><i class="fas fa-calendar-alt"></i><a href="{% url 'event_list' %}"> Eventos</a></li>
          <li class="breadcrumb-item"><i class="fas fa-calendar-check"></i><a href="{% url 'event_detail' pk=event.pk %}"> {{event.name}}</a></li>
          <li class="breadcrumb-item"><i class="fas fa-hand-holding-usd"></i><a href="{% url 'expenses_list' event_pk=event.pk %}"> Gastos</a></li>
          <li class="breadcrumb-item" aria-current="page"><i class="fas fa-shopping-cart"></i> Gastos Proveedor ({{providerexpense.pk}})</li>
        </ol>
    </nav>
    {% endblock %}

    <h2>Gasto Proveedor</h2>
    <div class="row my-2">
        <div class="col-md-6">
            <!-- DATOS PARA EL PAGO -->
            <h4>Datos para el pago</h4>
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <tr>
                        <th scope="row">Proveedor</th>
                        <td>{{providerexpense.provider.organization_name}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Banco</th>
                        <td>{{providerexpense.provider.bank_entity}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cuenta</th>
                        <td>{{providerexpense.provider.account_type_name}} {{providerexpense.provider.account_number}}</td>
                    </tr>
                    <tr>
                        <th scope="row">CBU</th>
                        <td>{{providerexpense.provider.cbu}}</td>
                    </tr>
                </table>
            </div>

            <!-- FACTURA -->
            <h4>Factura</h4>
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <tr>
                        <th scope="row">Tipo</th>
                        <td>{{providerexpense.get_invoice_type_display}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Monto</th>
                        <td>${{providerexpense.amount|intcomma}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha</th>
                        <td>{{providerexpense.invoice_date}}</td>
                    </tr>
                    {% if providerexpense.invoice %}
                    <tr>
                        <th>Documento</th>
                        <td><a href="{{providerexpense.invoice.url}}" target="_blank" download><i class="fa fa-download"></i> descargar</a></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            {% if providerexpense.invoice %}
            <div class="text-center">
                {% if providerexpense.invoice_extension == ".pdf" %}
                <div id="invoice-pdf-div" invoice-url={{providerexpense.invoice.url}}>
                    <a href="{{providerexpense.invoice.url}}" target="_blank">
                        <canvas class="rounded border border-dark" id="pdf-canvas"></canvas> 
                    </a>
                </div>
                {% elif providerexpense.is_image_document %}
                <a href="{{providerexpense.invoice.url}}" target="_blank">
                    <img class="rounded border border-dark" src="{{providerexpense.invoice.url}}" style="width: 400px;">
                </a>
                {% else %}
                <a href="{{providerexpense.invoice.url}}" target="_blank">
                    <img class="rounded border border-dark" src="{% static 'images/not_document.svg' %}" style="width: 400px;">
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <!-- DESCRIPCIÓN -->
        <div class="col-md-6">
            <h4>Descripción</h4>
            <div class="rounded alet alert-primary p-3 my-2" role="alert">
            {% if providerexpense.description %}
                <i class="fas fa-info-circle"></i> {{ providerexpense.description }}
            {% else %}
                <span class="text-warning">
                    <i class="fas fa-exclamation-circle"></i> Gasto sin descripción adjunta
                </span>
            {% endif %}
            </div>
            {% if perms.events.change_providerexpense and not providerexpense.payment%}
            <!-- BUTTONS -->
            <div class="text-right my-2">
                <a class="btn btn-info col-4" href="{% url 'provider_expense_update' pk=providerexpense.pk %}"><i class="fa fa-edit"></i> Editar Gasto</a>
                <button class="btn btn-warning col-4" data-toggle="modal" data-target="#ProviderExpenseSwitchState">
                {% if providerexpense.is_cancelled %}
                    <i class="fa fa-check"></i> Restaurar Gasto
                {% else %}
                <i class="fas fa-times-circle"></i> Cancelar Gasto
                {% endif %}
                </button>
            </div>
            <!-- ProviderExpenseSwitchState Modal -->
            <div class="modal fade" id="ProviderExpenseSwitchState" tabindex="-1" aria-labelledby="ProviderExpenseSwitchStateLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ProviderExpenseSwitchStateLabel">
                                {% if providerexpense.is_cancelled %}
                                <i class="fa fa-check"></i> Restaurar Gasto
                                {% else %}
                                <i class="fas fa-times-circle"></i> Cancelar Gasto
                                {% endif %}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form role="form" action="{% url 'provider_expense_switch_state' providerexpense.pk %}?next={% url 'provider_expense_detail' pk=providerexpense.pk %}" method="POST">
                            {% csrf_token %}
                            {% if providerexpense.is_cancelled %}
                                ¿Está seguro que desea Restaurar el Gasto?
                            {% else %}
                                ¿Está seguro que desea Cancelar el Gasto?
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger float-right col-3 mx-1" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i> Cancelar
                            </button>
                            <button type="submit" class="btn btn-success float-right col-3 mx-1">
                                {% if providerexpense.is_cancelled %}
                                <i class="fa fa-check"></i> Restaurar Gasto
                                {% else %}
                                <i class="fas fa-times-circle"></i> Cancelar Gasto
                                {% endif %}
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of Modal -->
            {% endif %}
            <h4>Comprobante Pago</h4>
            {% if providerexpense.payment %}
            <div class="row">
                <div class="col-12 text-center">
                {% if providerexpense.payment.extension == ".pdf" %}
                    <div id="pdf-payment" payment-url={{providerexpense.payment.document.url}}>
                        <a href="{{providerexpense.payment.document.url}}" target="_blank">
                            <canvas class="rounded border border-dark"></canvas>
                        </a>
                    </div>
                {% elif providerexpense.payment.is_image_document %}
                    <div class="img-payment" payment-url={{providerexpense.payment.document.url}}>
                        <a href="{{providerexpense.payment.document.url}}" target="_blank">
                            <img class="rounded border border-dark" src="{{providerexpense.payment.document.url}}" style="width: 200px;">
                        </a>
                    </div>
                {% else %}
                    <div payment-url={{providerexpense.payment.document.url}}>
                        <a href="{{providerexpense.payment.document.url}}" target="_blank">
                            <img class="rounded border border-dark" src="{% static 'images/not_document.svg' %}" style="width: 200px;">
                        </a>
                    </div>
                {% endif %}
                </div>
                <div class="col-md-12 text-center">
                    <a href="{{providerexpense.payment.document.url}}" target="_blank" download><i class="fa fa-download"></i> descargar</a>
                </div>
            </div>
            {% else %}
                <div class="col-12 rounded alert alert-info" role="alert">
                    Sin comprobantes de pago.
                </div>
            {% if perms.events.add_payment %}
                <div class="text-right">
                    <button class="btn btn-primary" data-target="#ProviderExpenseCreate" data-toggle="modal">
                        <i class="fa fa-plus"></i> Comprobante de pago
                    </button>
                </div>
                <!-- ProviderExpenseCreate Modal -->
                <div class="modal fade" id="ProviderExpenseCreate" tabindex="-1" aria-labelledby="ProviderExpenseCreateLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ProviderExpenseCreateLabel">
                                    <i class="fas fa-receipt"></i> Subir comprobante de pago
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form role="form" action="{% url 'provider_expense_payment_create' providerexpense.pk %}" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="document" class="font-weight-bold col-sm-2 col-form-label text-right">Archivo</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="id_document" name="document" placeholder="Archivo del comprobante de pago [PDF|JPG|SVG]" required>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger float-right col-3 mx-1" data-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times"></i> Cancelar
                                </button>
                                <button type="submit" class="btn btn-success float-right col-3 mx-1">
                                    <i class="fas fa-save"></i> Subir comprobante
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!-- End of Modal -->
            {% endif %}
        {% endif %}
        </div>
    </div>
    <a class="btn btn-danger col-2 float-right mx-1" href="{% url 'expenses_list' event_pk=event.pk %}"><i class="fas fa-undo"></i> Volver</a>
</div>
{% endblock %}

{% block extra_js %}
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="{% static 'js/load_pdf_files.js' %}"></script>
{% endblock %}
