{% extends "events_base.html" %}
{% load static %}
{% block content %}
<div class="container">
    {% block route-navigator %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fas fa-home"></i><a href="{% url 'events_home' %}"> Inicio</a></li>
            <li class="breadcrumb-item"><i class="fas fa-dolly"></i><a href="{% url 'provider_list' %}"> Proveedores</a></li>
            {% if form.instance.pk %}
            <li class="breadcrumb-item"><a href="{% url 'sponsor_detail' pk=form.instance.pk %}"><i class="fas fa-dolly-flatbed"></i> {{provider.organization_name}}</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="#">Edición</a></li>
            {% else %}
            <li class="breadcrumb-item" aria-current="page"><i class="fas fa-dolly-flatbed"></i> {{provider.organization_name}}</li>
            {% endif %}
        </ol>
    </nav>
    {% endblock %}

    <div class="row provider-detail">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Datos del proveedor </h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Nombre/Razón social</th>
                        <td>{{ provider.organization_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Banco</th>
                        <td>{{ provider.bank_entity }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo Cuenta</th>
                        <td>{{ provider.get_account_type_display }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Número Cuenta</th>
                        <td>{{ provider.account_number }}</td>
                    </tr>
                    <tr>
                        <th scope="row">CBU</th>
                        <td>{{ provider.cbu }}</td>
                    </tr>
                    <tr>
                        <th scope="row">CUIT</th>
                        <td>{{ provider.document_number }}</td>
                    </tr>
                </tbody>
            </table>
            {% if perms.events.change_provider %}
            <a class="btn btn-primary col-2 float-right mx-1" href="{% url 'provider_change' provider.pk %}"><i class="fas fa-pencil-alt"></i> Editar</a>
            {% endif %}
            <a class="btn btn-danger col-2 float-right mx-1" href="{% url 'provider_list' %}"><i class="fas fa-undo"></i> Volver</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}
