{% extends "events_base.html" %}
{% load static %}
{% block content %}
<div class="container">
    
    <div class="route-navigator" >
            <ol class="breadcrumb">
                <li class="active"><a href="#">Inicio</a></li>
            </ol>
    </div>
    
    <div class="dashboard_options">
        <div class="row">
            <!--Events-->
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <img src="{% static 'images/eventos.png' %}" alt="Eventos">
                    <div class="caption">
                        <!--h5 class="text-center">Eventos</h5-->
                        <!--<p class="card-text">Lista de eventos asociados a su usuario, para poder administrar, según sus permisos.</p>-->
                        <div class="dashborard-element-actions">
                            <a href="{% url 'event_list' %}" class="btn btn-primary card-btn" role="button">Eventos</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Organizers-->
            {% if perms.events.view_organizers %}
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <img src="{% static 'images/organizadores.png' %}" alt="Organizadores">
                    <div class="caption">
                        <!--h5 class="text-center">Organizadores</h5-->
                        <!--<p class="card-text">Lista de eventos asociados a su usuario, para poder administrar, según sus permisos.</p>-->
                        <div class="dashborard-element-actions">
                            <a href="{% url 'organizer_list' %}" class="btn btn-primary card-btn" role="button">Organizadores</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!--Sponsors-->
            {% if perms.events.view_sponsors %}
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <img src="{% static 'images/sponsors.png' %}" alt="Imagen que represente sponsors">
                    <div class="caption">
                        <!--h5 class="text-center">Sponsors</h5-->
                        <!--<p class="card-text">Lista de eventos asociados a su usuario, para poder administrar, según sus permisos.</p>-->
                        <div class="dashborard-element-actions">
                            <a href="{% url 'sponsor_list' %}" class="btn btn-primary card-btn" role="button">Sponsors</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!--Reports-->
            {% if perms.events.view_reports %}
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <img src="{% static 'images/reportes.png' %}" alt="Imagen que represente personas">
                    <div class="caption">
                        <!--h5 class="text-center">Organizadores</h5-->
                        <!--<p class="card-text">Lista de eventos asociados a su usuario, para poder administrar, según sus permisos.</p>-->
                        <div class="dashborard-element-actions">
                            <a href="#" class="btn btn-primary card-btn" role="button">Reportes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="user-pending">
        <h4>Tareas <span class="badge">{{tasks|length}}</span></h4>
        <div class="list-group">
        {% for task in tasks %}
        <div class="list-group-item">
            <div class="row task-element">
                <div class="col-md-8 task-description">
                    {{ task.description }}
                </div>
                <div class="col-md-4 task-action">
                    <a class="btn btn-success" href="{{task.url}}">Ir</a>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="alert alert-info" role="alert">
                No hay tareas pendientes para el usuario logueado.
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}