{% extends "events_base.html" %}
{% block content %}
<div class="container">
    <h1>Eventos</h1>
    {% if event_list %}
    <ul>
      {% for event in event_list %}
      <li>
        <a href="{% url 'event_detail' pk=event.pk %}">{{ event.name }}</a> ({{event.category}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay eventos asociados a su usuario.</p>
    {% endif %}
    
    {% block pagination %}
        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                {% if page_obj.has_previous %}
                <li>
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled"> 
                    <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                {% if page_obj.has_next %}
                <li>
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
                </ul>
            </nav>
            <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        {% endif %}
    {% endblock %}

</div>       
{% endblock %}

