{% extends "events_base_paginated_list.html" %}

{% block route-navigator %}
<div class="route-navigator" >
        <ol class="breadcrumb">
            <li><a href="{% url 'events_home' %}">Inicio</a></li>
            <li class="active"><a href="{% url 'event_list' %}">Eventos</a></li>
        </ol>
</div>
{% endblock %}
    
{% block list_content %}
    <h1>Eventos</h1>
    
    {% if event_list %}
    <table class="table table-striped row-clickeable-table">
        <thead>
            <tr>
                <th scope="row">Nombre</th>
                <th scope="row">Tipo</th>
                <th scope="row">Comision</th>
                <th scope="row">Fecha</th>
                <th scope="row">Lugar</th>
            </tr>
        </thead>
        <tbody>
        {% for event in event_list %}
        
            <tr onclick="window.location='{% url 'event_detail' pk=event.pk %}';" class="clikeable">
                
                <td >{{ event.name }}</td>
                <td>{{ event.get_category_display }}</td>
                <td>{{ event.commission }}</td>
                <td>{% if event.start_date %}{{ event.start_date }}{% endif %}</td>
                <td>{{ event.place }}</td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
    
    

    </ul>
    {% else %}
    <p>No hay eventos asociados a su usuario.</p>
    {% endif %}
{% endblock %}