{% extends "events_base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i> Inicio</a></li>
        </ol>
    </nav>
    <div class="dashboard_options">
        <div class="row">
            <!--Events-->
            <div class="col-sm-6 col-md-2 offset-sm-1">
                <figure class="figure">
                    <img src="{% static 'images/eventos.png' %}" class="figure-img img-fluid rounded" alt="Eventos">
                    <figcaption class="figure-caption text-right"><a href="{% url 'event_list' %}" class="btn btn-primary card-btn" role="button">Eventos</a></figcaption>
                  </figure>
            </div>

            <!--Organizers-->
            {% if perms.events.view_organizers %}
            <div class="col-sm-6 col-md-2">
                <figure class="figure">
                    <img src="{% static 'images/organizadores.png' %}" class="figure-img img-fluid rounded" alt="Organizadores">
                    <figcaption class="figure-caption text-right"><a href="{% url 'organizer_list' %}" class="btn btn-primary card-btn" role="button">Organizadores</a></figcaption>
                  </figure>
            </div>
            {% endif %}

            <!--Sponsors-->
            {% if perms.events.view_sponsors %}
            <div class="col-sm-6 col-md-2">
                <figure class="figure">
                    <img src="{% static 'images/sponsors.png' %}" class="figure-img img-fluid rounded" alt="Sponsors">
                    <figcaption class="figure-caption text-right"><a href="{% url 'sponsor_list' %}" class="btn btn-primary card-btn" role="button">Sponsors</a></figcaption>
                  </figure>
            </div>
            {% endif %}

            <!--Providers-->
            {% if perms.events.view_providers %}
            <div class="col-sm-6 col-md-2">
                <figure class="figure">
                    <img src="{% static 'images/proveedores.png' %}" class="figure-img img-fluid rounded" alt="Proveedores">
                    <figcaption class="figure-caption text-right"><a href="{% url 'provider_list' %}" class="btn btn-primary card-btn" role="button">Proveedores</a></figcaption>
                  </figure>
            </div>
            {% endif %}

            <!--Reports-->
            {% if perms.events.view_reports %}
            <div class="col-sm-6 col-md-2">
                <figure class="figure">
                    <img src="{% static 'images/reportes.png' %}" class="figure-img img-fluid rounded" alt="Reportes">
                    <figcaption class="figure-caption text-right">
                        <a href="#" class="btn btn-primary card-btn" role="button" data-toggle="modal" data-target="#NotImplementedModal">Reportes</a>
                    </figcaption>
                  </figure>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="NotImplementedModal" tabindex="-1" aria-labelledby="NotImplementedModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="NotImplementedModalLabel"> <i class="fas fa-exclamation-triangle"></i> Módulo de Reportes</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body bg-danger text-white">
                            Esta funcionalidad aún no está implementada. 🙏 Perdón!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="sponsoring-pending">
        <h4>Patrocinios Pendientes <small><span class="badge badge-dark">{{sponsoring_pending|length}}</span></small></h4>
        <div class="list-group">
        {% for pending in sponsoring_pending %}
        <div class="list-group-item">
            <div class="row task-element">
                <div class="col-md-8 task-description">
                    {{ pending.description }}
                </div>
                <div class="col-md-2 task-amount">
                    ${{ pending.amount|intcomma }}
                </div>
                <div class="col-md-2 task-action">
                    <a class="btn btn-success" href="{{pending.url}}"><i class="fas fa-tasks"></i> Ir</a>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="alert alert-success" role="alert">
                <i class="fas fa-check-circle"></i> No hay patrocinios pendientes.
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="user-pending">
        <h4>Tareas <small><span class="badge badge-dark">{{tasks|length}}</span></small></h4>
        <div class="list-group">
        {% for task in tasks %}
        <div class="list-group-item">
            <div class="row task-element">
                <div class="col-md-10 task-description">
                    {{ task.description }}
                </div>
                <div class="col-md-2 task-action">
                    <a class="btn btn-success" href="{{task.url}}"><i class="fas fa-tasks"></i> Ir</a>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="alert alert-success" role="alert">
                <i class="fas fa-check-circle"></i> No hay tareas pendientes para el usuario logueado.
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}